
.continents__list{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.continents__link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.continents__link--icon {
    width: 270px;
    height: 270px;
    filter: drop-shadow(0px 5px 5px var(--color-shadow));
}
.continents__item{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    height: 600px;
    margin-top: 15px;
}

.continents__item--title{
    font-weight: 700;
}

.continent__list{
    list-style: inside url(images/point.svg);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    
}
.continent__item {
    margin-left: 15px;
    width: 100%;
}

.continent__link--button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 47px;
    text-align: center;
    color: var(--color-hover-text);

    border-radius: 25px;
        border: 1px solid var(--color-border-btn);
        background:var(--color-background-btn);
        box-shadow: 2px 5px 5px 0px var(--color-shadow);

    font-family: var(--font-family-titles);
    font-size: 18px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, &:focus {
        border-color: var(--color-hover-text);
        background-color: var(--color-hover-text);
        color: var(--color-border-btn) ;
        
    }
}

@media screen and (min-width:768px) {
    .continents__list{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
    }
    .continents__item{
        width: 355px;
        height: 620px;
        align-items: center;
   
    }
    .continent__item {
            margin-left: 0px;
        }

}

@media screen and (min-width:1000px) {
    .continents__item {
        width: 425px;
        height: 600px;
    }
}

@media screen and (min-width:1200px) {
    .continents__item {
        width: 365px;
        height: 720px;
    }
    .continent__link--button{
        width: 280px;
        height: 55px;
        font-size: 20px;
    }
}

@media screen and (min-width:1440px) {
    .continents__item {
        width: 425px;
        height:760px;
    }
}