.hero-country {
    padding: 0;
}

.hero-country__container {
    position: relative;
    padding: 0;
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: 100% 100%;

    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.country__section--title{
    position: relative;
    width: 100%;
    max-width: 450px;
    
   &::after {
        content: '';
        position: absolute;
        top: 28px;
        left: 0px;
        bottom: 50%;
        transform: translateY(50%);
        display: block;
        width: 100%;
        height: 2px;
        border-radius: 25px;
        background-color: var(--color-titles-line);

    }
}

.hero-country__name{
    text-transform: uppercase;
    font-size: 33px;
        padding-top: 110px;
            padding-bottom: 110px;
            color: var(--color-hover-text);
            font-family: var(--font-family-titles);
            text-align: center;
}
.hero-country__capital {
    display: block;
    font-size: 18px;
    text-transform: none;
}





@media screen and (min-width:768px) {
   

    .hero-country__name {
            font-size: 44px;
            padding-top: 145px;
            padding-bottom: 145px;
        }
    
    .hero-country__capital {
            font-size: 24px
        }
    
    .hero-country__list {
        gap: 15px;
    }
    .features-country__title {
        margin-top: 35px;
            margin-bottom: 15px;
            font-size: 18px;
    }
    .features-country__item{
        padding: 15px;
    }
}

@media screen and (min-width:1000px) {

    .hero-country__container {
        height: 520px;
        background-size: 100% 520px;
    }

    .hero-country__name {
        font-size: 49px;
        padding-top: 200px;
        padding-bottom: 200px;
    }

    .hero-country__capital {
        font-size: 27px
    }

    .features-country__title {
        margin-top: 45px;
             margin-bottom: 20px;
             font-size: 20px;
    }

}

@media screen and (min-width:1200px) {

                  .features-country__title {
                      margin-top: 50px;
                  }
    .hero-country__container {
        height: 650px;
        background-size: 100% 650px;
    }

    .hero-country__name {
        padding-top: 265px;
            padding-bottom: 265px;
        font-size: 52px;
    }

    .hero-country__capital {
        font-size: 30px
    }

    .hero-country__list {
             gap: 20px;
    }

    .features-country__list{
        gap: 25px;
    }

    .features-country__item{
        padding: 18px 18px 18px 18px;
    }

 

}

@media screen and (min-width:1440px) {
    .hero-country__container {
        height: 770px;
        background-size: 100% 770px;
    }

    .hero-country__name {
        padding-top: 265px;
            padding-bottom: 265px;
        font-size: 66px;
    }

    .hero-country__capital {
        font-size: 35px
    }

    .hero-country__list {
        gap: 25px;
    }
    .features-country__title {
        margin-top: 55px;
               margin-bottom: 25px;
               font-size: 24px;
    }

    .features-country__list {
         gap: 30px;
    }
        
}