
@font-face {
    font-family: 'DaysOne';
    src: url('fonts/DaysOne-Regular.woff');
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Regular.ttf'), url('fonts/Montserrat-Bold.ttf'), url('fonts/Montserrat-SemiBold.ttf'), url('fonts/Montserrat-Medium.ttf'), url('fonts/Montserrat-ExtraBold.ttf'), url('fonts/Montserrat-Black.ttf');
}

