
.footer {
    background-color: #ffffff;
    width: 100%;
    box-shadow: 4px 0px 35px 0px var(--box-shadow-color-header-footer);
}

.footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.footer__title {
    font-family: var(--font-family-primary);
    font-size: 18px;
    font-weight: 900;
    text-align: center;
    color: var(--color-primary-text);
}

.footer__nav--list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;

    margin-top: 12px;
   
}
.footer__nav--link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    width: 105px;
    color: var(--color-text-footer-mail);
    font-size: 14px;
    text-align: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        &:hover,
        &:focus {
            color: var(--color-hover-text);
    
        }

        &-icon {
            width: 15px;
            height: 15px;

            fill: currentColor;
        }
}

.footer__contacts--link-icon {
    width: 25px;
    height: 25px;
}

.footer__contacts--list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    margin-top: 12px;
}

.footer__contacts--link{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: var(--color-text-footer-mail);

}

.footer__contscts--style-box {
    // width: 390px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;

}

@media screen and (min-width:768px) {
    .footer__container {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            gap: 25px;
        }

    .footer__nav--container, .footer__contacts--container{
        width: 350px;
    }
    
}

// @media screen and (min-width:1000px) {
//     .footer__container {
//             gap: 15px;
//             justify-content: space-between;
//         }

//         .footer__contscts--style-box {
//             flex-direction: row-reverse;
//             justify-content: space-between;
//             align-items: center;
//             gap: 15px;
    
//         }
//         .footer__nav--container,
//         .footer__contacts--container {
//             width: 310px;
//         }
// }

@media screen and (min-width:1200px) {
    .footer__container {
        gap: 15px;
        justify-content: center;
    }

    .footer__nav--container , .footer__contacts--container{
        width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer__contscts--style-box {
        flex-direction: row-reverse;
        align-items: center;
         gap: 15px;

      }

    .footer__nav--list{
        width: 350px;
        margin-top: 10px;
    }
}

@media screen and (min-width:1440px) {
    .footer__container {
        gap: 15px;
    }

    .footer__nav--container, .footer__contacts--container {
        width: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer__nav--list {
        width: 350px;
        margin-top: 10px;
    }
}

