
body {
    font-family: var(--font-family-primary);
   
    background-image: url('images/food-fon.png');
    background-size: 375px 270px;
}
a {
    text-decoration: none;
}
button {
    border: 0;
    background-color: transparent;
    padding: 0;
    margin: 0;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}
img{ display: block;}




.section {
    width: 100%;
    margin: 0 auto;
}
.container {
    padding: 20px 10px;
    margin: 0 auto;
}

@media screen and (min-width:480px) {
    .section { width: 480px;}
}

@media screen and (min-width: 768px) {
    .section {
            width: 768px;
        }
}

@media screen and (min-width: 1200px) {
    .section {
        width: 1200px;
    }
}

@media screen and (min-width: 1440px) {
    .section {
        width: 1440px;
    }
}



