.header {
    background-color: #ffffff;
    // position: fixed;
    // top: 0;
    // left: 0;
    z-index: 100;
    width: 100%;
    
    box-shadow: 0px 10px 10px 0px var(--box-shadow-color-header-footer);
}
.nav__list {
    display: none;
}

.bg__container{
    width: 100%;
    padding: 15px 0px;
    background-color: var(--background-color-header-footer);
}


.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav--link-logo {
    display: flex;
    align-items: center;
    width: 230px;
    color: var(--color-primary-titles);
    font-size: 24px;
    font-weight: 700;

    &-icon {
        width: 75px;
        height: 50px;
    }
}


.header__nav--button-menu {
    width: 55px;
    height: 45px;

    &-icon {
        width: 55px;
            height: 45px;
    }
}

//mobile menu 
.mobile-menu__container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 290px;
        height: 100%;
        padding-left: 20px;
        padding-right: 20px;
        background-color: var(--background-color-mob-menu);
}
.mobile-menu__btn-close{
    width: 40px;
    height: 25px;
    margin-top: 15px;
    color: var(--color-icons);
    &:hover, &:focus {
        color: var(--color-hover-text);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &--icon {
        width: 45px;
        height: 25px;
        fill: currentColor;
    }
 
}
.mobile-menu__nav--list{
    display: flex;
    flex-direction: column;
    gap: 12px;

    margin-top: 50px;

    font-size: 22px;
    font-weight: 600;
}
.mobile-menu__nav--list-link{
    color: var(--color-links-header);

    &:hover, &:focus {
        color: var(--color-hover-text);
    }
}
.mobile-menu--contacts-title{
    margin-top: 50px;
    margin-bottom: 15px;

    color: var(--color-primary-titles);
}
.mobile-menu__contacts--list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}
.mobile-menu__contacts--icon{
    height: 30px;
    width: 30px;
}
.mobile-menu__contacts--container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.mobile-menu__contacts--item-mail{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.mobile-menu__contacts--link-mail{   
    color: var(--color-text-footer-mail);
}
.mobile-menu__contacts--link-social{
    display: block;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mobile-menu__nav--list-item{
    position: relative;
}
.mobile-menu {
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 100;
    overflow-y: scroll;
    width: 320px;
    height: 100%;
    background-color: #ffffff;
    transition: left 0.7s ease-in-out;
    // opacity: 0;
    // visibility: hidden;
    // pointer-events: none;
    // transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    // visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.mobile-menu.is-open {
    left: 0;
    // opacity: 1;
    // visibility: visible;
    // pointer-events: auto;
}


@media screen and (min-width:768px) {
   .header__nav--link-logo{
    width: 280px;
    font-size: 32px;

    &-icon {
        width: 95px;
        height: 60px;
    }
   }

   .header__nav--button-menu {
       width: 80px;
       height: 60px;

       &-icon {
           width: 80px;
           height: 60px;
       }
   }
   
}

@media screen and (min-width:1000px) {
    .mobile-menu {
        display: none;
    }
    .header__nav--button-menu{
        display: none;
    }
    .header__nav {
        justify-content: start;
        gap: 60px;
    }
    .nav__list {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 15px;
    
            font-size: 20px;
            font-weight: 600;
    
            &--link {
                color: var(--color-links-header);
                display: flex;
                justify-content: center;
                align-items: center;

                &:hover, &:focus{
                    color: var(--color-hover-text);
                    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
                }
            }

            &--item {
                position: relative;
            }
    
    }


}

@media screen and (min-width:1200px) {
    .header__nav{
       gap: 80px;
    }
    .nav__list {
            gap: 20px;
            font-size: 24px;
   }
  .header__nav--link-logo {
      width: 320px;
      font-size: 34px;

      &-icon {
          width: 105px;
          height: 70px;
      }
  }
}

@media screen and (min-width:1440px) {
    .header__nav {
        gap: 90px;
    }

    .nav__list {
        gap: 25px;

        font-size: 28px;
    }

    .header__nav--link-logo {
        width: 360px;
        font-size: 36px;

        &-icon {
            width: 135px;
            height: 85px;
        }
    }
}


