
.hero__container {
    position: relative;
    height: 270px;
    margin-top: 25px;
    padding-top: 0;
    background-image: url('images/home-page/map-mob.png');
    background-repeat: no-repeat;
    background-size: 100% 230px;
}
.hero__title {
    font-family: var(--font-family-titles);
    font-size: 22px;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-home-title);
    padding-top: 200px;
}

.hero__link{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    text-align: center;
    max-width: 50px;
    font-size:8px;
    font-weight: 500;
    color: var(--color-hero-links);

    &:hover, &:focus {
        color: var(--color-hover-text);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    }
}
.hero__link--greenland{
    top: 3.3%;
    left: 29.5%;
}
.hero__link--na{
    top: 22%;
    left: 14%;
}
.hero__link--sa {
    top: 48.5%;
    left: 27.1%;
}
.hero__link--africa {
    top: 38%;
    left: 48%;
}
.hero__link--europe {
    top: 20%;
    left: 55%;
}
.hero__link--asia {
    top: 22%;
    left: 78%;
}
.hero__link--au {
    top:58%;
    left: 78.5%;
}

@media screen and (min-width: 410px) {
    .hero__link {
        font-size: 10px;
    }
}

@media screen and (min-width:768px) {
 
    .hero__container {
        height: 400px;
        background-image: url('images/home-page/world-map-tablet.png');
        background-size: 100% 390px;
    }
    .hero__title{
        font-size: 38px;
        padding-top: 330px;
    }
    .hero__link{
        font-size: 16px;
        max-width: 70px;

        &--greenland{
            top: 3.4%;
            left: 30%;
        }
        &--na{
            top: 24%;
            left: 14%;
        }
        &--sa{
            top: 58%;
            left: 27.7%;
        }
        &--africa{
            top: 45%;
            left: 48%;
        }
        &--europe{
            top: 21.8%;
            left: 55.5%;
        }
        &--asia{
            top: 26%;
            left: 77%;
        }
        &--au{
            top: 69%;
            left: 79.3%;
        }
    }
}

@media screen and (min-width:1000px) {

    .hero__container {
        height: 600px;
        background-size: 100% 530px;
    }

    .hero__title {
        font-size: 50px;
        padding-top: 450px;
    }

    .hero__link {
        font-size: 22px;
        max-width: 90px;

        &--greenland {
            top: 3%;
        }

        &--na {
            top: 23%;
        }

        &--sa {
            top: 53%;
            left: 27.2%;
        }

        &--africa {
            top: 42%;
        }

        &--europe {
            top: 21%;
            left: 55%;
        }

        &--asia {
            top: 24%;
        }

        &--au {
            top: 63%;
        }
    }
}

@media screen and (min-width:1200px) {

    .hero__container {
        height: 700px;
        background-image: url('images/home-page/world-map-desktop.png');
        background-size: 100% 600px;
    }

    .hero__title {
        font-size: 55px;
        padding-top: 510px;
    }

    .hero__link {
        font-size: 24px;
        max-width: 100px;

        &--greenland {
            top: 3%;
            left: 30.5%;
        }

        &--na {
            top: 22.5%;
            left: 14.5%;
        }

        &--sa {
            top: 51.8%;
            left: 27.7%;
        }

        &--africa {
            top: 40%;
        }

        &--europe {
            top: 21%;
            left: 54%;
        }

        &--au {
            top: 62%;
            left: 80%;
        }

    }
}

@media screen and (min-width:1440px) {

    .hero__container {
        height: 760px;
        background-size: 100% 680px;
    }

    .hero__title {
        font-size: 72px;
        padding-top: 570px;
    }

    .hero__link {
        font-size: 26px;
        max-width: 110px;

        &--greenland {
            top: 3%;
            left: 31%;
        }
        &--na {
            top: 24%;
        }
        &--sa {
            top: 54.5%;
            left: 28%;
        }
        &--africa {
            top: 42%;
        }
        &--europe {
            top: 21.5%;
        }
        &--asia{
            top: 23.5%;
            left: 78.5%;
        }

        &--au {
            top: 64%;
            left: 80%;
        }
    }
}
